astroid==2.4.2
certifi==2020.6.20
colorama==0.4.3
future==0.18.2
glcontext==2.2.0
isort==5.4.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
mesh-to-sdf==0.0.12
moderngl @ file:///D:/bld/moderngl_1591872866013/work
moderngl-window==2.2.3
multipledispatch==0.6.0
numpy==1.21.0
Pillow>=9.0.1
pyglet==1.5.7
pylint==2.6.0
pynput==1.7.1
pyrr==0.10.3
PyYAML==5.3.1
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
wincertstore==0.2
wrapt==1.12.1
